[submodule "vendor/path_finder"]
	path = vendor/path_finder
	url = https://github.com/osm-oscar/path_finder
[submodule "vendor/oscar-routing"]
	path = vendor/oscar-routing
	url = https://github.com/osm-oscar/oscar-routing
